.container {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(237,239,233);
    z-index: 10;
  }

.GroupLink a
{
  margin: 0px 20px;
  position: relative;
  top: 20%;
  font-size: 20px;
}

.pageName {
  position: relative;
  top: 20%;
  font-size: 20px;
  text-shadow: 5px 5px #c7cdd4;
}

.pageName:hover {
  transform: scale(1.1);
}

.GroupLink,
.Link {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-shadow: 5px 5px #c7cdd4;
}

.Link_sep:hover {
  transform: scale(1.1);
}

.MerryChristMas a {
  color: green;
  text-shadow: 3px 3px #fcadad;
}

.MerryChristMas a:visited { color: green; text-decoration: none;}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchBar input {
  height: 30px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}

.searchBar button {
  border: none;
  cursor: pointer;
}