* {
  font-family: 'Bakbak One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bakbak One', cursive;

  height: 100%;
  background-color: rgb(234,222,194);
}

a {
  font-family: 'Bakbak One', cursive;
  text-decoration: none;
}