.background {
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}

.container {
  z-index: 1;
}

.movie {
  color: antiquewhite;
}

.show {
  border: 2px solid snow;
  border-radius: 10px;
  left: 25%;
  position: absolute;
  top: 25%;
  width: 50%;
  z-index: 2;
}

.shortView {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.shortView_Img {
  float: left;
  height: 345px;
  width: 230px;
}

.shortView_letters {
  margin: 20px 0 0 30px;
  width: 70%;
}

.shortView_letters h3,
.shortView_letters p,
.shortView_letters div {
  margin: 10px;
}

.shortView_letters li {
  list-style-type: none;
}

.descript {
  padding: 0 10px 10px 10px;
  width: 100%;
}

.Detail_bg {
  filter: brightness(50%);
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
