.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movie {
  color: rgb(32, 30, 30);
}

.movie .box {
  border: 2px solid snow;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 370px;
  margin: 10px 10px;
  overflow: hidden;
  padding: 10px;
  width: 500px;
}

.movie .box .image {
  float: left;
  height: 345px;
  width: 230px;
}

.movie .box .letters {
  height: 350px;
  padding-left: 20px;
  width: 250px;
}

.movie .box .letters .title {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
}

.movie .box .letters h3,
.movie .box .letters p {
  margin: 10px;
}

.movie .box .letters li {
  list-style-type: none;
}

.movie .box .letters p {
  text-align: justify;
  word-break: break-all;
}

.movie .box .summary {
  padding: 0 10px 10px 10px;
  width: 100%;
}
