.slideBox {
  font-size: 40px;
  margin: 4% 0px;
}

.slideBox .titleBox {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  text-shadow: 5px 5px rgb(136, 143, 141);
  width: 300px;
}

.slideBox .titleBox .titleIcon {
  height: 30px;
  padding-top: 5px;
  width: 30px;
}

.slideBox .titleBox:hover {
  transform: scale(1.1);
}

.footer {
  background-color: rgb(237, 239, 233);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  margin-top: 5%;
  padding: 0px 30px;
}

.copyright {
  padding-top: 15px;
}

.copyright_letter {
  color: gray;
  font-size: 15px;
}
